:root{

    --header: #049987;
    --titulo: white;
    --texto: white;
}
*{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;

}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: 270%;
    background-position: -50px;
    background-attachment: fixed;
}
.header{

    position: fixed;
    top: 0px;
    left: 5%;
    z-index: 9;
    width: 90%;
    height: 8%;
    background: var(--header);
    color: white;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
    border-radius: 0px 0px 10px 10px;
}
.contenido{
    margin-top: 20%;
    margin-bottom:20%;
    position: relative;
}
.navbar {
    width: 100%;
    position: relative;
    height: 50%;
}
.navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 10px;
}
.navbar li{
    float: left;
    padding: 2px;
    width: 100px;
}
.item{

    position: relative;
    background-color: rgba(255,255,255,0.7);
    width: 95%;
    height: 11%;
    margin-left: 1%;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
.fotoItem{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    color: black;
    text-align: center;
    
}

.fotoItem > img{
    top: 10%;
    position: relative;
    border-radius: 10px;
    max-width: 70px;
    max-height: 64px;
}
.desc{
    float: left;
    position: relative;
    width: 60%;
    height: 100%;
    color: black;
}
.desc > h3{
    position: relative;
    text-align: left;
    margin-left: 10px;
}
.precio{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    color: white;
}
.dinero{
    position: relative;
    text-align: center;
    width: 100%;
    height: 50%;
    color: green;
}
.agregar{
    position: relative;
    width: 100%;
    height: 50%;
}
.agregar > button{
    position: relative;
    background-color: var(--header); /* Green */
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    bottom: 5px;
    color: white;
    font-weight: bolder;
}

.float{
    position:fixed;
    width:30%;
    bottom:0px;
    right:35%;
    background-color:var(--header);
    color:white;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:10px;
    margin-bottom: 10px;
    color: white;
}

#modal1{
    visibility: visible;
    position: fixed;
    width: 80%;
    height: 40%;
    top: 30%;
    left: 10%;
    z-index: 10;
}
.ingr{
    position: relative;
    height: 80%;
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
.ingr > input{
    margin: 5px;
}
.aceptar > button{
    position: relative;
    background-color: var(--header); /* Green */
    border: none;
    color: white;
    height: 20%;
    width: 50%;
    color: white;
    font-weight: bolder;
}
#cancelar{
    background-color: #cc0000;    
    border-radius: 0px 0px 10px 0px;
}
#aceptar{
    border-radius: 0px 0px 0px 10px;
}
#aceptar2{
    border-radius: 0px 0px 10px 0px;
}
#modal2{
    visibility: visible;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 8;
    overflow: hidden;
}


